# =========================
# Flutter / Dart
# =========================
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.metadata
.melos_tool/

# Builds & artifacts
build/
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/.symlinks/
**/ios/Pods/
**/ios/DerivedData/
**/ios/Runner/GeneratedPluginRegistrant.*
**/macos/Flutter/ephemeral/
**/macos/Pods/
**/macos/Runner/GeneratedPluginRegistrant.*
**/web/.dart_tool/
**/linux/flutter/ephemeral/
**/windows/flutter/ephemeral/

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/app/**/*.keystore
**/android/app/**/*.jks
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/key.properties

# Xcode
**/*.xcworkspace/
**/*.xcuserdatad/
**/*.xcuserstate
**/*.xcodeproj/project.xcworkspace/
**/*.xcodeproj/xcuserdata/
**/*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings
**/DerivedData/

# IDEs
.vscode/
.idea/
*.iml

# Logs & temp
*.log
*.lock.workspace
pubspec_overrides.yaml
coverage/
.dart_tool/
.merged_contacts

# OS
.DS_Store
Thumbs.db

# Env / secrets
.env
.env.*
*.pem
*.key
*.crt

# Misc generated
**/.generated/
**/*.g.dart
**/*.freezed.dart
**/*.mocks.dart


# --- Android builds grandes ---
android/app/build/
android/app/outputs/
android/app/intermediates/
android/**/build/
**/merged_native_libs/
**/incremental/
**/intermediates/
**/flutter_assets/
**/kernel_blob.bin
*.apk
*.aab

# --- Flutter build genérico ---
build/
.dart_tool/

